@font-face {
    font-family: Poppins_600;
    src: url(../fonts/Poppins-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: Poppins_700;
    src: url(../fonts/Poppins-Bold.ttf) format("truetype");
}
@font-face {
    font-family: Montserrat_500;
    src: url(../fonts/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
    font-family: Montserrat_700;
    src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
}